mat-card {
  text-align: center;
}

img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 1em auto auto;
}

button {
  margin: 5px;
}

mat-card-actions {
  text-align: center;
  margin: 0 auto;
}
