<mat-card class="example-card">
  <mat-card-header class="post-header">
    <mat-card-title>
      <span highlight color="lightyellow">{{post.title | titlecase}}</span>
    </mat-card-title>
    <mat-card-subtitle>
      <span>{{tempUser | username}} : {{post.createdDate | timeAgo}}</span>
    </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image *ngIf="post.imageUrl as imageUrl" [src]="imageUrl" [alt]="post.title">

  <mat-card-content class="post-content">
    <span>{{post.content | shorten: 200}}</span>
  </mat-card-content>

  <mat-card-actions>
    <jooc-comments [comments]="post.comments" (onNewComment)="onNewComment($event)"></jooc-comments>
  </mat-card-actions>

</mat-card>
